*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:-webkit-linear-gradient(bottom,#0250c5,#d43f8d);
}
.container{
    width:400px;
    background:#fff;
    border-radius:5px;
    text-align:center;
    padding:50px 35px;
}
.container header{
    font-size:35px;
    font-weight:600;
    margin:0 0 30px 0;
}
.container .outer{
    width:100%;
    overflow: hidden;
}
.outer .title{
    font-size:1.5rem;
    margin-top:8px;
    font-weight: bold;
    font-family: monospace;
}
.container form{
   display: flex;
   width:400%;
}
.container form .page{
   width:25%;
   transition:margin-left 0.3s ease-in-out;
}
.container form .page .filed{
  text-align: left;
  width:330px;
  margin:45px 0;
  height:45px;
  position: relative;
  display: flex;
}

.container form .page .filed .label{
    position: absolute;
    top:-30px;
    font-weight:500;
}
.container form .page .filed input{
    width:100%;
    height:100%;
    border: 1px solid lightgray;
padding-left: 15px;
font-size:1.5rem;
    border-radius:5px;
}
form .page .filed select{
    width:100%;
    padding-left:10px;
    font-size:17px;
    font-weight:500;
}
.container form .page .filed button{
    width:100%;
    height:calc(100% + 5px);
    margin-top:-20px;
    border: none;
    background:#f01787;
    color:#fff;
    font-size:18px;
    text-transform: uppercase;
    font-weight:500;
    letter-spacing:1px;
    cursor: pointer;
    border-radius:5px;
    transition:0.3s ease;
}
.container form .page .filed button:hover{
    background:#000;
}
.container form .page .filed .btns button{
    margin-top:-20px !important;
}
form .page .btns button.prev{
    margin-right:3px;
    font-size:17px;
}
form .page .btns button.next{
    margin-left:3px;
    font-size:17px;
}
.container .progress-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .progress-bar .step{
  text-align:center;
  width:100%;
  position: relative;
}
.container .progress-bar .step  p{
font-size:18px;
font-weight:500;
color:#000;
margin-top:8px;
transition:0.2s;
}
.container .progress-bar .step  p.active{
    color: #f01787;
    font-weight: bold;
}
.container .progress-bar .step  .bullet{
height:25px;
width:25px;
border:2px solid #000;
display: inline-block;
border-radius:50px;
font-weight:500;
font-size:17px;
line-height:20px;
position: relative;
transition:0.2s;
}
.container .progress-bar .step  .bullet.active{
    border-color:#f01787;
    background:#f01787;
}
.container .progress-bar .step .bullet:before,
.container .progress-bar .step .bullet:after{
  position: absolute;
  content:'';
  height:3px;
  width:44px;
  background:#262626;
  bottom:9px;
  right:-51px;
}
.container .progress-bar .step:last-child .bullet:before,
.container .progress-bar .step:last-child .bullet:after{
    display: none;
}
.container .progress-bar .step .bullet.active:after{
    background:#f01787;
    transform:scaleX(0);
    animation: animation 0.3s linear forwards;
    transform-origin: left;
}
@keyframes animation{
    100%{
        transform:scaleX(1);
    }
}
.container .progress-bar .step .bullet span{
    font-weight:500;
    font-size:17px;
    line-height:20px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
.container .progress-bar .step .bullet.active span{
    display: none;
}
.container .progress-bar .step .check{
 position: absolute;
 left:50%;
 top:75%;
 font-size:15px;
 transform: translate(-50%, -50%);
 display: none;
}
.container .progress-bar .step .check.active{
    display: block;
    color:#fff;
}